<div class="rounded-lg p-8 max-w-md w-full bg-white">
  <h2 class="text-center text-2xl font-bold text-gray-800 mb-8"><%= t("custom.label.sign_in") %></h2>
  <hr class="mb-6 border-t-2 border-slate-200">

  <%= render "form" %>

  <%= render "shared/flash" %>

  <div class="text-center">
    <a href="#" class="text-sm text-blue-600 hover:underline"><%= t("custom.label.forgot_password") %></a>
  </div>
</div>