<div data-controller="toggle">
  <div class="mb-4 flex w-full justify-between gap-2">

    <button 
      data-action="click->toggle#toggle" 
      id="toggleSearchForm" 
      class="bg-slate-200 text-gray-600 px-4 py-2 rounded focus:outline-none focus:ring-2 focus:ring-blue-200">

      <%= t("custom.label.filter") %>
      
    </button>

    <%= link_to "#{t("custom.label.default_new_form", 
      model: t("activerecord.models.asset_type"))}",
      new_admin_asset_type_path,
      class: "bg-blue-500 text-white px-4 py-2 rounded focus:outline-none focus:ring-2 focus:ring-blue-300"
    %>
    
  </div>

  <%= render "search_filter" %>
</div>