<h2 class="fus-form-header mb-8">
  <%= t("custom.label.edit_form", model: t("activerecord.models.asset_type")).capitalize %>
</h2>
<%= render "form", asset_type: @asset_type %>

<% content_for(:title, t("custom.label.edit_form", model: t("activerecord.models.asset_type")).capitalize) %>