<h2 class="fus-form-header mb-8">
  <%= t("custom.label.edit_form", model: t("activerecord.models.user_asset")).capitalize %>
</h2>
<%= render "form", user_asset: @user_asset %>

<% content_for(:title, t("custom.label.edit_form", model: t("activerecord.models.user_asset")).capitalize) %>