<h2 class="fus-form-header mb-8"><%= t("custom.label.edit_form", model: t("activerecord.models.brand")).capitalize %></h2>
<%= render "form", brand: @brand %>

<% content_for(:title, t("custom.label.edit_form", model: t("activerecord.models.brand")).capitalize) %>