<%= render "layouts/turbo_dialog" do %>
    <h2 class="fus-form-header mb-8"><%= t("custom.label.edit_form", model: t("activerecord.models.brand")).capitalize %></h2>
	<div data-action="turbo:submit-end->dialog#submitEnd">
        <%= render "form", brand: @brand %>
	</div>
<% end %>

<% content_for(:title, t("custom.label.edit_form", model: t("activerecord.models.brand")).capitalize) %>