<div class="mb-16 mt-4">
  <%= form_with(url: destroy_many_admin_components_path, id: :component_table, method: :delete) do |form| %>
    <%= form.button type: :submit, value: "#{t('custom.label.destroy')}", 
      class: "bg-slate-300 text-white px-4 py-2 rounded focus:outline-none focus:ring-2 focus:ring-red-300",
      data: {
        table_target: "deleteButton",
        turbo_action: "advance",
        turbo_confirm: "#{t('custom.label.confirm.to_destroy_many')}"
      },
      disabled: true do %>

      <%= t("custom.label.destroy") %>

    <% end %>
  <% end %>
</div>