<h2 class="font-bold text-gray-600 text-xl mb-4"><%= t("custom.label.index_header", model: t("activerecord.models.department")).capitalize %></h2>

<%= render "action_group" %>
<div class="table-brand" data-controller="table">
  <%= render "table" %>
  <%= render "destroy_button" %>
</div>