<h2 class="fus-form-header mb-8"><%= t("custom.label.new_form", model: t("activerecord.models.department")).capitalize %></h2>
<%= render "form", department: @department %>

<% content_for(:title, t("custom.label.new_form", model: t("activerecord.models.department")).capitalize) %>