<h2 class="fus-form-header mb-8">
  <%= t("custom.label.edit_form", model: t("activerecord.models.purchase_order")).capitalize %>
</h2>

<%= render "form", 
  purchase_order: @purchase_order,
  rfp_details: @request_for_purchase_details,
  selected_details: @selected_details %>

<% content_for(:title, t("custom.label.edit_form", model: t("activerecord.models.purchase_order")).capitalize) %>