<h2 class="text-2xl font-bold text-gray-600 mb-8">
  <%= t("custom.label.default_new_form", model: t("activerecord.models.purchase_order")).capitalize %>
</h2>

<%= render "form", 
  purchase_order: @purchase_order,
  rfp_details: @request_for_purchase_details,
  selected_details: @selected_details %>

<% content_for(:title, t("custom.label.new_form", model: t("activerecord.models.purchase_order")).capitalize) %>