<h2 class="fus-form-header mb-4">
  <%= t("custom.label.default_index_header", model: t("activerecord.models.software")).capitalize %>
</h2>

<%= render "action_group" %>
<div class="table-software" data-controller="table">
  <%= render "table" %>
  <%= render "destroy_button" %>
</div>

<% content_for(:title, t("custom.label.default_index_header", model: t("activerecord.models.software")).capitalize) %>