<div class="pointer-events-none absolute inset-0 z-10 flex items-center justify-center bg-gray-50 bg-opacity-25 opacity-0 [[busy]~&]:opacity-100 backdrop-blur-sm transition-opacity">
	<%= inline_svg_tag "loading.svg", class: "w-10 h-10 text-blue-500" %>
</div>