<!-- Sidebar for mobile (hidden by default) -->
<div id="mobile-sidebar" class="fixed top-0 left-0 w-64 bg-blue-400 h-full sidebar-mobile md:hidden">
  <div class="p-4">
    <h2 class="font-bold text-lg text-white">Menu</h2>
    <ul>
      <li><a href="#" class="text-white hover:underline">Home</a></li>
      <li><a href="#" class="text-white hover:underline">About</a></li>
      <li><a href="#" class="text-white hover:underline">Services</a></li>
      <li><a href="#" class="text-white hover:underline">Contact</a></li>
      <li><a href="#" class="text-white hover:underline">Blog</a></li>
    </ul>
  </div>
</div>