<div id="desktop-sidebar" class="hidden bg-fus-blue shadow-lg md:block sidebar-fixed fus-scroller">
  <div class="p-0"> <!-- Menghapus padding dari sidebar -->
    <%= render "shared/menus/entry_menu" %>
  </div>
</div>