<div id="desktop-sidebar" class="hidden bg-fus-blue shadow-lg md:block sidebar-fixed fus-scroller pb-2">
  <div class="p-0"> <!-- Menghapus padding dari sidebar -->
    <%= render "shared/menus/entry_menu" %>
    <%= render "shared/menus/setup_menu" %>
  </div>
</div>