<td id="rooms_storage_units" class="py-2 px-2 text-left whitespace-nowrap">
  <%= select_tag "rooms_storage_unit_id",
    options_for_select(rooms_storage_units.map { |s| [s.label, s.id] }), 
    include_blank: t("custom.label.select", model: t("activerecord.models.rooms_storage_unit")).capitalize,
    data: { 
      controller: "turbo-dependent-select",
      action: "change->turbo-dependent-select#loadStorageUnitBins",
      turbo_dependent_select_target: "select",
    },
    required: true

  %>
</td>