<h2 class="fus-form-header mb-8">
  <%= t("custom.label.edit_form", model: t("activerecord.models.project")).capitalize %>
</h2>

<%= render "form", project: @project %>

<% content_for(:title, t("custom.label.edit_form", model: t("activerecord.models.project")).capitalize) %>