<div class="bg-slate-50 rounded-lg mt-4 mb-4 p-4" data-toggle-target="toggle">
  <%= search_form_for [:admin, @q], url: admin_inventory_locations_path, data: { 
    controller: "filters",
    turbo_frame: :table,
    turbo_action: "advance",
    filters_delay_value: 200,
    filters_table_outlet: ".table-inventory_location"
  } do |f| %>

    <div class="md:flex gap-2">
      <div class="w-full mb-2">
        <%= f.label "#{t('activerecord.attributes.inventory_location.name')}", class: "fus-label" %>
        <%= f.search_field :name_cont, data: { action: "filters#submit" }, class: "fus-input" %>
      </div>
    </div>
    
  <% end %>
</div>