<div class="p-2 border border-blue-300 rounded">
  <h2 class="fus-form-header">Import asset</h2>
  1. <%= render "asset_classes_import" %>
  2. <%= render "assets_import" %>
  3. <%= render "asset_components_import" %>
  4. <%= render "asset_softwares_import" %>
</div>