<%= render "layouts/turbo_dialog" do %>
  <h2 class="fus-form-header mb-8">
    <%= t("custom.label.edit_form", model: t("activerecord.models.site_group")).capitalize %>
  </h2>
	<div data-action="turbo:submit-end->dialog#submitEnd">
        <%= render "form", site_group: @site_group %>
	</div>
<% end %>

<% content_for(:title, t("custom.label.edit_form", model: t("activerecord.models.site_group")).capitalize) %>