<h2 class="fus-form-header mb-8">
  <%= t("custom.label.default_new_form", model: t("activerecord.models.delivery_order")).capitalize %>
</h2>

<%= render "form", delivery_order: @delivery_order %>

<% content_for(:title, t("custom.label.new_form", model: t("activerecord.models.delivery_order")).capitalize) %>