<%= render "layouts/turbo_modal" do %>
  <h2 class="fus-form-header mb-2 sticky top-0 p-3 z-10 bg-blue-400 text-white shadow-md ">
    <%= t("custom.label.edit_form", model: t("activerecord.models.site_stat")).capitalize %>
  </h2>
	<div data-action="turbo:submit-end->modal#submitEnd" class="p-8">
        <%= render "form", site_stat: @site_stat %>
	</div>
<% end %>

<% content_for(:title, t("custom.label.edit_form", model: t("activerecord.models.site_stat")).capitalize) %>