<%= turbo_frame_tag "second_modal" do %>
    <div 
        data-controller="modal"
        data-modal-target="modal"
        class="fixed inset-0 flex items-center justify-center bg-gray-400 bg-opacity-90 z-[1010] p-8">

        <!-- Modal Content -->
        <div class="bg-white rounded-md md:w-2/3 border border-solid">
            <%= tag.div data: {
                    modal_target: "modalContent",
                    action: "keyup@window->modal#closeWithKeyboard click@window->modal#closeBackground" },
                    class: "bg-white rounded-md shadow-lg w-full max-h-[90vh] overflow-auto" do %>

                <%= yield %>

            <% end %>
        </div>
    </div>
<% end %>

