<%= render "layouts/turbo_modal" do %>
  <h2 class="fus-form-header mb-8">
    <%= t("custom.label.edit_form", model: t("activerecord.models.site")).capitalize %>
  </h2>
	<div data-action="turbo:submit-end->modal#submitEnd">
        <%= render "form", site: @site %>
	</div>
<% end %>

<% content_for(:title, t("custom.label.edit_form", model: t("activerecord.models.site")).capitalize) %>