<h2 class="font-bold text-gray-600 text-xl mb-4">
  <%= t("custom.label.default_index_header", model: t("activerecord.models.site")).capitalize %>
</h2>

<%= render "action_group" %>
<div class="table-site_group" data-controller="table">
  <%= render "table" %>
  <%= render "destroy_button" %>
</div>

<% content_for(:title, t("custom.label.default_index_header", model: t("activerecord.models.site")).capitalize) %>